/* purgecss start ignore */
:root {
  --guide-color: rgba(0, 153, 255, 0.2);
  --site-column: #{$site-column};
  --site-max-width: #{$site-max-width};
  --grid-template-columns-var1: 1fr 1fr;
  --rhythm-offset: -0.25em; // see rhythm-fix mixin in _tools-typography.scss
  --bg-image: '';
  --vh: 1vh; // Fallback units

  --site-top: 5.5rem;

  @media (min-width: #{hu-get($hu-media-queries, lap)}) {
    --site-top: 7rem;
  }

  @media (min-width: #{$site-max-width}) {
    --site-column: #{strip-unit($site-max-width / ($site-layout-columns + $site-padding-columns) / 16)}rem;
  }
}
/* purgecss end ignore */
