@font-face {
  font-family: 'MessinaSansWeb';
  src: url('../fonts/MessinaSansWeb-Regular.eot?#iefix');
  src: url('../fonts/MessinaSansWeb-Regular.eot?#iefix') format('eot'),
    url('../fonts/MessinaSansWeb-Regular.woff2') format('woff2'),
    url('../fonts/MessinaSansWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rollerscript-smooth';
  src: url('../fonts/rollerscript-smooth.eot?#iefix');
  src: url('../fonts/rollerscript-smooth.eot?#iefix') format('eot'),
    url('../fonts/rollerscript-smooth.woff2') format('woff2'),
    url('../fonts/rollerscript-smooth.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
