@include hu-pseudo-classes(shim-24, ("::before"), (base)) {
  content: '';
  display: block;
  float: left;
  width: 0;
  padding-top: 24%;
}

@include hu-pseudo-classes(arrow-left, ("::before"), (base)) {
  content: 'â† your ';
}
