// @import "../utilities/tools-typography";

$scoped_container: 's-editable' !default;

.u-space-items {
  @include space-items;
}

.#{$scoped_container} {
  // @if $scoped_container != 's-editable' {
  //   // apply spacing to wp-editor
  //   @include space-items;
  // }

  @include space-items;

  h2 {
    @include rhythm-fix(after);

    font-size: #{hu-get($hu-font-size-types, 500)};
    font-weight: normal;
    font-style: normal;

    em {
      font-style: normal;
    }

    strong {
      font-weight: normal;
    }
  }

  // improve vertical rhythm by mitigating unwanted line-height
  // &:not(.s-aside) > :first-child:not([class*="margin:"]):not([class*="margin-vertical"]):not([class*="margin-top"]) {
  //   @include rhythm-fix;
  // }

  // &:not(.s-aside) {
  //   h3,
  //   h4,
  //   h5,
  //   h6 {
  //     &:not([class*="pos-top"]) {
  //       position: relative;
  //       top: 0.5rem;
  //     }
  //   }
  // }

  a:not([class]) {
    color: inherit;
    text-decoration: underline;

    // @include hit-area(0.5em);

    &:hover {
      // color: hu-get($hu-colors, red 400);
      text-decoration: none;
    }
  }

  & > [style*="text-align: justify"] {
    text-align: left;
  }

  // table {
  //   font-size: hu-get($hu-font-size-types, 300);

  //   @media all and (max-width: #{hu-get($hu-media-queries, lap)}) {
  //     font-size: hu-get($hu-font-size-types, 400);
  //   }
  // }

  ol,
  ul {
    list-style-position: inside;
  }

  blockquote {
    @media (min-width: #{hu-get($hu-media-queries, palm)}) {
      font-size: hu-get($hu-font-size-types, 500);
    }

    @if $scoped_container == 'wp-editor' {
      // always render blockquotes larger when shown in WP editor
      font-size: hu-get($hu-font-size-types, 500);
    }

    + p {
      @media (max-width: #{hu-get($hu-media-queries, max-palm max-w)}) {
        font-size: hu-get($hu-font-size-types, 300);
      }
    }
  }

  pre {
    white-space: normal;
    font-family: hu-get($hu-font-family-types, cursive);
    font-weight: 400;
    letter-spacing: hu-get($hu-letter-spacing-types, 0) !important;
    line-height: hu-get($hu-line-height-types, 200);
    font-size: 1.231em;
    padding-top: hu-get($hu-spacing-scale, 100);
  }

  strong,
  b {
    @include circle;
  }

  pre,
  p {
    [style*="text-decoration: underline"],
    em {
      @include underline;
    }
  }
}
