$hu-grid-gap-modules: (base, responsive);

$hu-grid-gap-types: (
  0: 0,
  // 50: hu-rem(1),
  // 100: hu-rem(2),
  200: hu-rem(4),
  300: hu-rem(8),
  400: hu-rem(16),
  500: hu-rem(24),
  600: hu-rem(32),
  // 700: hu-rem(48),
  // 800: 4rem,

  // 350vmin: 3.5vw,
  // 700vw: 7vw,
  // 1050vw: 10.5vw,

  // vert1: hu-rem(45),
  // vert2: hu-rem(90),
  // vert3: hu-rem(135),

);

$hu-grid-gap-types: map-merge(
  $hu-grid-gap-types,
  $column-spacing
);
