$hu-height-modules: (base, responsive, print);

$hu-height-types: (
  0: 0,
  150r: 1.5rem,
  200r: 2rem,
  18rem: 18rem,
  100: 100%,
  100vh: 100vh,
  100vh-fixed: calc(var(--vh, 1vh) * 100),
  100vh-fixed-less-top: calc(var(--vh, 1vh) * 100 - var(--site-top)),
  auto: auto,
  "9/16vw": 56.25vw,
);
