$hu-pos-modules: (base, responsive);

$hu-pos-scale: hu-prepend(
  $hu-pos-scale,
  (
    400: 1rem,
    -400: -1rem,
    -1vh: -1vh,
    -10: -10%,
    50: 50%,
    -50: -50%,
    -100: -100%,
  )
);

$hu-pos-types: hu-append(
  $hu-pos-types,
  (
    pos-left-right: (left, right),
    pos-top-left-right: (left, right, top),
  ),
);

$hu-pos-scale: map-merge(
  $hu-pos-scale,
  $column-spacing
);
