$hu-transform-modules: (base, responsive);

$hu-transform-types: (
  "-50": translateX(-50%) translateY(-50%),
  right-center-small: translateX(-100%) translateY(-50%) scale(.8),
  "arrow-down-right": scale(.8) rotate(220deg),
  "arrow-right-down": scalex(.8) scaleY(-.8) rotate(90deg),
);
