$hu-transition-duration-modules: (
  core: (base, hover),
  pseudos: (
    "::after",
    "::before",
  )
);


$hu-transition-duration-types: hu-prepend(
  $hu-transition-duration-types, (
    150: 0.15s,
    400: 0.4s,
    700: 0.7s,
  )
);
