// disable eslint
#wpadminbar {
  // put it beneath photoswipe overlay
  z-index: 1000 !important;
  // nicer than 'position:fixed' behaviour
  position: sticky !important;
  // moves admin bar to top assuming body has display: flex; flex-direction: column;
  order: -10;

  // force full width when body has max-width
  width: 100vw !important;
  // Support rtl by setting both sides…
  left: 0 !important;
  right: 0 !important;
  margin-left: -50vw;
  margin-right: -50vw;
}

/*
  // if you have a sticky or fixed header, you'll need to clear the admin bar with this sort of thing…

  .admin-bar .head {
    top: 32px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }

  // or with Hucssley…

  @include hu-parent-classes(top, (admin-bar), (base, responsive), $hu-pos-scale);
*/
