//http://www.heydonworks.com/article/the-flexbox-holy-albatross-reincarnated
// override --albatross-breakpoint inline where desired

.albatross {
  display: flex;
  flex-wrap: wrap;
  --albatross-margin: 1rem;
  --albatross-modifier: calc(var(--albatross-breakpoint, 32rem) - 100%);
  margin: calc(var(--albatross-margin) * -1);
}

.albatross > * {
  flex-grow: 1;
  flex-basis: calc(var(--albatross-modifier) * 999);
  margin: var(--albatross-margin);
}

.\@mq-max-tiny--albatross__baby {
  @media all and (max-width: #{hu-get($hu-media-queries, max-tiny max-w)}) {
    --albatross-breakpoint: 19rem;
  }
}
