@mixin space-items {
  > {
    * + :not([class*="margin:"]):not([class*="margin-vertical:"]):not([class*="margin-top:"]) {
      margin-top: hu-get($hu-spacing-scale, 400);
    }

    h1:not([class*="margin:"]):not([class*="margin-vertical:"]):not([class*="margin-bottom:"]):not(:last-child) {
      margin-bottom: hu-get($hu-spacing-scale, 400);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      + :not([class*="margin:"]):not([class*="margin-vertical:"]):not([class*="margin-top:"]) {
        margin-top: hu-get($hu-spacing-scale, 400);
      }
    }
  }
}


@mixin btn {
  -webkit-appearance: none; // remove iOS rounding and shine
  background-color: transparent;
  border:{
    width: 1px;
    style: solid;
    color: inherit;
  }
  border-radius: 0; // remove iOS rounding
  color: #{hu-get($hu-colors, black 80)};
  font-family: #{hu-get($hu-font-family-types, default)};
  font-weight: 400;
  line-height: 1;
  padding: .75rem 1.5rem;
  text-decoration: none;
  text-transform: capitalize;

  &:hover:not([disabled]) {
    color: #{hu-get($hu-colors, neutral 1000)};
    text-decoration: underline;

    &:active {
      transform: translateY(1px);
      opacity: .6;
      background-color: #{hu-get($hu-colors, black 10)};
    }
  }
}


@mixin rhythm-fix($pseudo: before) {
  &::#{$pseudo} {
    content: '';
    display: block;
    position: relative;
    @if $pseudo == after {
      margin-bottom: var(--rhythm-offset);
    }
    @else {
      margin-top: var(--rhythm-offset);
    }
  }
}
