@mixin space-items {
  > {
    * + :not([class*="margin:"]):not([class*="margin-vertical:"]):not([class*="margin-top:"]) {
      margin-top: #{hu-get($hu-spacing-scale, 200)};
    }

    h1:not([class*="margin:"]):not([class*="margin-vertical:"]):not([class*="margin-bottom:"]):not(:last-child) {
      margin-bottom: hu-get($hu-spacing-scale, 300);

      @media all and (min-width: #{hu-get($hu-media-queries, widepalm)}) {
        margin-bottom: hu-get($hu-spacing-scale, 450);
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      + :not([class*="margin:"]):not([class*="margin-vertical:"]):not([class*="margin-top:"]) {
        margin-top: #{hu-get($hu-spacing-scale, 200)};
      }
    }
  }
}


@mixin btn {
  -webkit-appearance: none; // remove iOS rounding and shine
  background-color: #{hu-get($hu-colors, red 400)};
  border-radius: 0; // remove iOS rounding
  border: none;
  color: white;
  font-family: #{hu-get($hu-font-family-types, cond)};
  font-weight: 700;
  line-height: 1;
  padding: .75rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover:not([disabled]) {
    filter: brightness(1.1);

    &:active {
      transform: translateY(1px);
      filter: brightness(0.85);
    }
  }
}


@mixin rhythm-fix($pseudo: before) {
  &::#{$pseudo} {
    content: '';
    display: block;
    position: relative;
    @if $pseudo == after {
      margin-bottom: var(--rhythm-offset);
    }
    @else {
      margin-top: var(--rhythm-offset);
    }
  }
}
