/* allow caption to break out of flickity container */
.flickity-viewport {
  overflow: visible;
}

.flickity-enabled.position\:static {
  position: static;
}

/* move dots to be inside flickity container */
.flickity-page-dots {
  top: 100%;
  bottom: auto;
  display: flex;
  margin-top: -2px;

  .dot {
    background: #111;
    border-radius: 0;
    height: 2px;
    margin: 0;
    flex-grow:1;
  }
}
.flickity-button {
  border-radius: 0;
  padding: 1rem;
  background: white;

  @media (min-width: 768px) {
    padding: 2.5rem;
  }

  &:disabled {
    opacity: 0;
  }
}

.flickity-prev-next-button.next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.flickity-prev-next-button.previous {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 0.875rem;
  height: 0.875rem;
}
