/* allow caption to break out of flickity container */
.flickity-viewport {
  overflow: visible;

  .aspectConstrained & {
    background-color: hsl(20, 5%, 96%);
    padding-bottom: 56.25%;
  }
}

.flickity-button {
  border-radius: 0;
  padding: 1rem;
  background: white;

  .flickity-carousel.flickity-carousel & {
    transform: translateY(-100%);
  }

  @media (min-width: 768px) {
    padding: 2.5rem;

    .flickity-carousel & {
      padding: 1rem;
    }
  }

  &:disabled {
    opacity: 0;
  }
}

.flickity-prev-next-button.next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.flickity-prev-next-button.previous {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 0.875rem;
  height: 0.875rem;
}
