@font-face {
  font-family: 'MessinaSansWeb';
  src: url('./fonts/MessinaSansWeb-Light.eot?#iefix');
  src: url('./fonts/MessinaSansWeb-Light.eot?#iefix') format('eot'),
    url('./fonts/MessinaSansWeb-Light.woff2') format('woff2'),
    url('./fonts/MessinaSansWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansWeb';
  src: url('./fonts/MessinaSansWeb-Regular.eot?#iefix');
  src: url('./fonts/MessinaSansWeb-Regular.eot?#iefix') format('eot'),
    url('./fonts/MessinaSansWeb-Regular.woff2') format('woff2'),
    url('./fonts/MessinaSansWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSansWeb';
  src: url('./fonts/MessinaSansWeb-Bold.eot?#iefix');
  src: url('./fonts/MessinaSansWeb-Bold.eot?#iefix') format('eot'),
    url('./fonts/MessinaSansWeb-Bold.woff2') format('woff2'),
    url('./fonts/MessinaSansWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MessinaSerifWeb';
  src: url('./fonts/MessinaSerifWeb-Regular.eot?#iefix');
  src: url('./fonts/MessinaSerifWeb-Regular.eot?#iefix') format('eot'),
    url('./fonts/MessinaSerifWeb-Regular.woff2') format('woff2'),
    url('./fonts/MessinaSerifWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
