@include hu-classes(clip-path-circle, (base)) {
  display: none;
  // NOTE: IE11 returns false positive if CSS custom properties
  // are used in the circle values ¯\_(ツ)_/¯
  @supports (clip-path: circle(15vw at 15% 50%) ) {
    clip-path: circle(var(--circle-r) at var(--circle-x) var(--circle-y));
    display: block;
    will-change: var(--circle-r), var(--circle-x), var(--circle-y), clip-path;
  }
}

@include hu-parent-classes(hidden-if-clip-supported, (is-home), (base)) {
  visibility: visible;

  @supports (clip-path: circle(15vw at 15% 50%)  ) {
    visibility: hidden;
  }
}

.no-grid-gap--margin-bottom-800 {
  margin-bottom: hu-get($hu-spacing-scale, 800);

  @supports (grid-gap: 1rem) {
    margin-bottom: 0;
  }
}


:root {
  --prefer-display: flex;
}


@include hu-classes(degrade-to-inline, (base, responsive)) {
  // IE11 and IE10
  @media all and (-ms-high-contrast:none)
    {
      display: block;

      & > * {
        display: inline-block;
      }
    }

  // Browser that don't support @supports (IE) won't see the following
  @supports (text-align: center) {
    display: var(--prefer-display, flex); // allows optionally degrading from grid
  }
}


.hanging-punctuation-first {
  text-indent: -.44em;

  @supports (hanging-punctuation: first) {
    hanging-punctuation: first;
    text-indent: 0;
  }
}
