$hu-media-queries: (
  tiny: hu-em(400),
  max-palm: (max-w: hu-em(549)),
  palm: hu-em(550),
  widepalm: hu-em(680),
  max-lap: (max-w: hu-em(767)),
  lap: hu-em(768),
  desk: hu-em(1040),
  bigdesk: hu-em(1350),
  wall: hu-em(1543),

  lap-shallow: (
    min-w: hu-em(768),
    max-h: hu-em(550),
  ),
  max-desk-width: (
    max-w: hu-em(1349),
    ),
  max-desk: (
    max-w: hu-em(1349),
    max-h: hu-em(1349),
    ),
  tall: (
    other: (
      min-height: 85em,
    ),
  ),

  // hover-only: (
  //   other: (
  //     hover: hover,
  //   ),
  // ),
);
