$jb-colors: hu-append((
  neutral: hu-append(
    hu-get($hu-colors, "neutral"),
    (
      600: #aeaeae,
      900: #111,
      1000: #000,
    ),
  ),
  beige: (
    100: #f9f3f0,
    300:  #E5CEC2, // AA accessible for 14pt+/bold orange-500 text
    400: #dfc2b2, // desired colour
  ),
  green: (
    400: #3f5455, // fortis green
  ),
), $hu-colors-keywords);

$hu-colors: $jb-colors;
