$hu-spacing-scale: (
  0: 0,
  50: hu-rem(1),
  100: hu-rem(2),
  150: hu-rem(3),
  200: hu-rem(4),
  250: hu-rem(6),
  300: hu-rem(8),
  400: hu-rem(16),
  500: hu-rem(24),
  525: hu-rem(26),
  550: hu-rem(28),
  600: hu-rem(32),
  650: hu-rem(42),
  675: hu-rem(44),
  700: hu-rem(48),
  750: hu-rem(59),
  800: hu-rem(64),
  auto: auto,
  // 220vw: 2.2vw,
  // 350vw: 3.5vw,
  // 700vw: 7vw,
  // 850vw: 8.5vw,
  // 1050vw: 10.5vw,
  // 7rem: 7rem,
  // 8rem: 8rem,
  // 700rem: 7rem,
  // 830rem: 8.3rem,
  // 900: hu-rem(80),
  // 1000: hu-rem(96),
  // 12vh: 12vh,
  // 13vh: 13vh,
  // 14vh: 14.5vh,
  50p: 5%,
  85p: 8.5%,
  100p: 10%,
  120p: 12%,
  200p: 20%,
  250p: 25%,
  300p: 30%,
  400p: 40%,
  500p: 50%,
  600p: 60%,
  700p: 70%,
  800p: 80%,

  site-pad-100: 3.5vw,
  "-site-pad-100": -3.5vw,
  site-pad-200: 7vw,
  "-site-pad-200": -7vw,

  // vert1: hu-rem(45),
  // vert2: hu-rem(90),
  // vert3: hu-rem(135),
);
