$column-spacing: ();

@for $column from 0 through $site-layout-columns {
  $column-spacing: map-merge(
    $column-spacing,
    map-merge(
      column-space($column),
      column-space($column + .5, "#{$column}-1/2"),
    )
  );
}


$hu-spacing-scale: (
  auto: auto,
  0: 0,
  50: hu-rem(1),
  100: hu-rem(2),
  150: hu-rem(3),
  200: hu-rem(4),
  250: hu-rem(6),
  300: hu-rem(8),
  350: hu-rem(12),
  400: hu-rem(16),
  // 450: hu-rem(20),
  // 500: hu-rem(24),
  // 525: hu-rem(26),
  // 550: hu-rem(28),
  600: hu-rem(32),
  700: hu-rem(48),

  "9/16": 56.25%,
  600p: 60%,
  700p: 70%,
  800p: 80%,

  "-50vw": -50vw,

  site-top: var(--site-top),
);

$hu-spacing-scale: map-merge(
  $hu-spacing-scale,
  $column-spacing
);
