// @import "tools-typography";

$force-button-styles: false !default;
$selector: '.btn';

@if $force-button-styles == true {
  // allows higher specificity needed for WP editor
  $selector: #{$selector}#{$selector}#{$selector};
}

#{$selector} {
  @include btn;
}

.btn-wrap {
  @include rhythm-fix;
  display: inline-flex; // so it inherits text alignment and also contains button, respecting surrounding padding
  padding-top: hu-get($hu-spacing-scale, columns-0-1/4);
  font-size: hu-get($hu-font-size-types, 400);
}

.hover\:bright {
  &:hover {
    filter: brightness(1.15);
  }
}

.hover\:bright__img {
  &:hover {
    img {
      filter: brightness(1.15);
    }
  }
}

.c-floating-field__input:focus+.c-floating-field__label {
  opacity: .6;
}

.c-floating-field__input:valid+.c-floating-field__label {
  opacity: 0;
}
