/* change color */
// :root {
//   --bg-color: white;
// }

@mixin custom-underline-base {
  text-decoration: none;
  color: inherit;
  // gradient from currentColor to transparent causes a 1px line that is lighter in colour than the inherited text color

  background-repeat: no-repeat;
  background-position: 0 97%;
  // NOTE: apparently using calc in background-position crashes IE9
  background-position: 0 calc(100% - 2px);
  background-size: 100% 0.0625em;
  // text-shadow:
  //   -1px 1px 0 var(--bg-color, white),
  //   1px 1px 0 var(--bg-color, white),
  //   -2px 1px 0 var(--bg-color, white),
  //   2px 1px 0 var(--bg-color, white);
}

@mixin custom-underline {
  background-image: linear-gradient(currentColor, currentColor);

  &:focus,
  &:hover {
    background-image: none;
  }
}


.custom-underline,
.hover-underline,
[type="radio"]:checked + span {
  @include custom-underline-base;
}

.custom-underline,
[type="radio"]:checked + span {
  @include custom-underline;
}

.hover-underline {
  &:focus,
  &:hover {
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
  }
}
