@import "~hucssley/src/helpers";

@import "~hucssley/src/variables/global/index";
@import "../variables/global/index";


/* change color */
// :root {
//   --bg-color: white;
// }

@mixin custom-underline-base {
  text-decoration: none;
  color: inherit;
  // gradient from currentColor to transparent causes a 1px line that is lighter in colour than the inherited text color

  background-repeat: no-repeat;
  background-position: 0 97%;
  // NOTE: apparently using calc in background-position crashes IE9
  background-position: 0 calc(100% - 2px);
  background-size: 100% 0.0625em;
  // text-shadow:
  //   -1px 1px 0 var(--bg-color, white),
  //   1px 1px 0 var(--bg-color, white),
  //   -2px 1px 0 var(--bg-color, white),
  //   2px 1px 0 var(--bg-color, white);
}


@mixin custom-underline {
  @media (max-width: #{hu-get($hu-media-queries, max-lap max-w)}) {
    text-decoration: underline;
  }
  @media (min-width: #{hu-get($hu-media-queries, lap)}) {
    background-image: linear-gradient(currentColor, currentColor);
  }
}

@mixin custom-underline-hover {
  &:focus,
  &:hover {
    background-image: none;
  }
}

.custom-underline,
.custom-underline-no-hover,
.hover-underline,
[type="radio"]:checked + span {
  @include custom-underline-base;
}

.custom-underline-no-hover {
  @include custom-underline;
}

.custom-underline,
[type="radio"]:checked + span {
  @include custom-underline;
  @include custom-underline-hover;
}

.hover-underline {
  text-decoration: none;

  &:focus,
  &:hover {
    @media (max-width: #{hu-get($hu-media-queries, max-lap max-w)}) {
      text-decoration: underline;
    }
    @media (min-width: #{hu-get($hu-media-queries, lap)}) {
      color: black;
      background-image: linear-gradient(currentColor, currentColor);
    }
  }
}
