[type="text"],
[type="tel"],
[type="search"],
[type="email"],
[type="url"],
{
  border-radius: 0;
  border-width: 0;
  color: #{hu-get($hu-colors, neutral 900)};
  display: block;
  padding: #{hu-get($hu-spacing-scale, 150)};
  width: 100%;
}

[type="checkbox"],
[type="radio"] {
  margin: 0;
  padding: 0;
}
