html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;


  // if you don't have a <main> tag here, just add `flex-grow: 1` to whichever element you want to act as the strechy main area.
  > main {
    flex: 1 0 auto;
    min-height: 10rem;
    width: 100%;
  }
}
