html,
body {
  scroll-padding-top: var(--head-height); // won't work with v-sroll-to
}

body {
  &::before {
    content: '';
    display: block;
    min-height: var(--head-height);
    // outline: 1px dotted grey;
  }
}
