// Increase class-level specificity of a rule without functionaly modifying the selector
@mixin increase-specificity($depth: 1) {
  $sel: '';

  @while($depth > 0) {
    $sel: $sel + ':nth-child(n)';
    $depth: $depth - 1;
  }

  &#{$sel} {
    @content;
  }
}

@mixin parent_hocussed_within {
  :focus-within > &,
  :hover > &,
  .open-menus .hocussed_within > & {
    @content;
  }
}

@mixin hocussed_within {
  &:focus-within,
  &:hover,
  .open-menus &.hocussed_within {
    @content;
  }
}

@mixin parent_hovered {
  .hovered > &,
  :hover > & {
    @content;
  }
}

@mixin hovered {
  &.hovered,
  &:hover {
    @content;
  }
}
