// $hu-background-image-alias: bg-image;

$hu-background-image-modules: (base);

$hu-background-image-types: (
  guide: linear-gradient(to right, transparent, transparent 98%, var(--guide-color) 98%,  var(--guide-color)),
);
