$hu-background-position-alias: bg-position;

$hu-background-position-x-modules: (base, responsive);

$hu-background-position-x-types: (
  site-pad-100: var(--site-pad),
  site-pad-200: calc(var(--site-pad) * 2),
);
