$hu-font-family-types: (
  default: (MessinaSansWeb, "Helvetica Neue", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif),
  serif: (MessinaSerifWeb, Georgia, serif),
  cursive: ("rollerscript-smooth", cursive),
);
