$hu-grid-template-columns-modules: (base, responsive);

$hu-grid-template-columns-types: (
  1: 1fr,
  2: 1fr 1fr,
  3: 1fr 1fr 1fr,
  4: 1fr 1fr 1fr 1fr,
  5: 1fr 1fr 1fr 1fr 1fr,
  var-1: var(--grid-template-columns-var-1, 1fr),
  var-2: var(--grid-template-columns-var-2, 1fr),
  var-3: var(--grid-template-columns-var-3, 1fr),
);
