$hu-grid-template-columns-modules: (base, responsive);

$hu-grid-template-columns-types: (
  1: 1fr,
  2: 1fr 1fr,
  3: 1fr 1fr 1fr,
  4: 1fr 1fr 1fr 1fr,
  5: 1fr 1fr 1fr 1fr 1fr,
  var1: var(--grid-template-columns-var1, 1fr),
  var2: var(--grid-template-columns-var2, 1fr),
  var3: var(--grid-template-columns-var3, 1fr),
);
