$hu-max-width-modules: (base, responsive);

$hu-max-width-types: hu-append($hu-max-width-types,
  (
    30: 30%,
    50: 50%,
    12rem: 12rem,
    20rem: 20rem,
    33rem: hu-rem(528),
    50rem: 50rem,
    67rem: 67.625rem,
    100vw: 100vw,
    container: hu-rem(1350),

    caption: 12em,
    measure: 40em,
  )
);
