$hu-min-height-modules: (base, responsive);

$hu-min-height-types: hu-append($hu-min-height-types,
  (
    auto: auto,
    hero-100: 60vh,
    hero-200: unquote("calc(100vh - 7vmin)"),
    container: hu-rem(1400),
  )
);
