$hu-pos-modules: (base, responsive);

$hu-pos-scale: hu-prepend(
  $hu-pos-scale,
  (
    400: 1rem,
    -400: -1rem,
    -1vh: -1vh,
    50: 50%,
    -50: -50%,
    -100: -100%,
    "-site-pad": -3.5vmin,
  )
);

$hu-pos-types: hu-append(
  $hu-pos-types,
  (
    pos-left-right: (left, right),
    // pos-top-left-right: (left, right, top),
  ),
);
