$hu-transition-property-modules: (base, reduced-motion);

$hu-transition-property-types: (
  all: all,
  none: none,
  opacity: opacity,
  transform: transform,
  opacity-transform: unquote('opacity, transform'),
);
