$hu-width-types: hu-append(
  $hu-width-types,
  (
    50: 50%,
    100: 100%,
    hero-100: unquote("calc((100vh - 7vmin) * 1.777777778)"),
  )
);

$hu-width-types: hu-append($hu-width-types, $column-spacing);
