/* purgecss start ignore */
:root {
  --guide-color: rgba(0, 153, 255, 0.2);
  --site-pad: 3.5vw;
  ---site-pad: calc(var(--site-pad) * -1);
  --site-max-width: #{hu-get($hu-max-width-types, container)};
  --grid-template-columns-var1: 1fr 1fr;
  --rhythm-offset: -0.25em; // see rhythm-fix mixin in _tools-typography.scss
  --bg-image: '';
}
/* purgecss end ignore */
